<mat-toolbar>
  <button mat-icon-button (click)="menuToggled.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="goBack()" aria-label="Indietro cronologia">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button (click)="goForward()" aria-label="Avanti cronologia">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <div class="page-title">
    <mat-icon>{{ activeLink().icon }}</mat-icon>
    <span>{{ activeLink().title }}</span>
  </div>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Notifiche"
    matTooltip="Notifiche"
    (click)="goToNotifications()"
    [matBadge]="notificationService.unreadCount()"
    [matBadgeHidden]="notificationService.unreadCount() === 0"
    matBadgeColor="warn"
    matBadgeSize="small"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  @if (navigationService.showToolbarActions()) {
    @for (action of navigationService.extraActions(); track action.label) {
      <button mat-icon-button [attr.aria-label]="action.label" (click)="action.callback()">
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
    }
    <button mat-icon-button aria-label="Reset" (click)="navigationService.onResetAction()?.()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button aria-label="Salva" (click)="navigationService.onSaveAction()?.()">
      <mat-icon>save</mat-icon>
    </button>
  } @else if (navigationService.extraActions().length > 0) {
    @for (action of navigationService.extraActions(); track action.label) {
      <button
        mat-icon-button
        [attr.aria-label]="action.label"
        (click)="action.callback()"
        [matTooltip]="action.label"
      >
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
    }
  }
</mat-toolbar>
