.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav {
    width: 280px;
  }
}

.main-container {
  padding: 20px;
  margin-top: var(--mat-toolbar-standard-height, 64);
}

.fixed-toolbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
}